<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379556668613-ovu4v3badsl4aaelpqrn4i7pj8iuhbjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379556668613-ovu4v3badsl4aaelpqrn4i7pj8iuhbjm</string>
	<key>API_KEY</key>
	<string>AIzaSyAB1SZ8wv57WHuytyzdbgt6NirZ6GzXNCw</string>
	<key>GCM_SENDER_ID</key>
	<string>379556668613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dashstrap.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-8517b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-8517b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379556668613:ios:6b8c1ae93d2cd55a9cbcac</string>
</dict>
</plist>